/*styles for Reimagining Black Journalism in the Digital Age*/
/*#000000 white
#f2f2f2	light gray
#ffffff black
#ff1616 crimson
#333333 mid gray


*/
/*
Gza Seminegra
Neue Machina light*/

.kcd-main {
    
}


.kcd-main p {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 200;
}

.kcd-main .blockquote {
  background: #ececec;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  font-weight: 100;
  padding: 1rem;
  border-radius: 0.1rem;
  -moz-box-shadow: 0 0 3px #797979;
  -webkit-box-shadow: 0 0 3px #797979;
  box-shadow: 0 0 3px #797979;

}

.kcd-main .blockquote {
  background-color: #fff;
}




.kcd {
	background-color: ;
	font-family: 'Crimson Pro', serif;
	background: linear-gradient(#f2f2f2, #ffffff);
 	color: #202020;
 	
    font-size: 1.125rem;
    line-height: 1.3rem;

}



.kcd-intro {

}

.kcd-main .pullquote {

}


.kcd hr {
/*  border-style: dotted;*/
  color: #ff1616;
  background: linear-gradient(111.3deg, #000 9.6%, #ff1616 93.6%);
}


.kcd-main .kcdh3 {
  display: flex;
  color: #fff;
  float: left;
  font-size: 1.7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  width: 100%;
  background: linear-gradient(111.3deg, #000 9.6%, #ff1616 93.6%);

}

.kcd-main h1 {
  font-family: 'Crimson Pro', serif;
  font-size: 3rem;
  vertical-align: top;
  margin-top: 1rem;
}


.kcd-main h2 {
	font-family: 'Crimson Pro', serif;
  	font-size: x-large;
}

.kcd-main h3 {
  color: #ff1616;
/*  text-decoration: underline 3px #ff1616;*/

}



.kcd-main h3 a {
  color: #ff1616;
}

.kcd-main h3 a::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #000 9.6%, #ff1616 93.6%);
}


.kcd .tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
  background-color: #ff1616;
  border-radius: 0.3rem;
  color: #f2f2f2;
  font-size: 1.4rem;
}

.kcd .tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
  color: #ff1616;
/*  font-weight: 400;*/
}

start {

}


.kcd-gradient {
  background: linear-gradient(111.3deg, #eeeeee 9.6%, #fff 93.6%, 20deg, #ff1616);
/*  background: linear-gradient(blue, 10%, pink);*/
}




/*accordion section*/









